# System files
.DS_Store
*pycache*
**/scratch
**/tmp
.idea
*.key
*.code-workspace
*.vscode

# Notebook metadata
**/.ipynb_checkpoints

# Bulk plots
cycle_length*.png
*resensitisation.png
optimal_treatment_fractions_*.png

# High res plots
images/*.pdf